<div class="text1">
    <h2 >CREER UN COMPTE</h2>
</div>

        <div class="form">
            <form id="forminscrip">
                
                <div >
                    <label class="label" for="name">NOM</label>
                  <input class="inputinsc" type="name" aria-describedby="emailHelp" placeholder="   Entrer votre nom">
                </div>
                <div >
                    <label class="label" for="name">PRENOM</label>
                  <input class="inputinsc" type="name"  placeholder="   Entrer votre Prenom">
                </div>
                <div >
                  <label class="label" for="name">Nom D'utlisateur</label>
                <input class="inputinsc" type="name"  placeholder="   Entrer votre Prenom">
              </div>
                <div >
                    <label class="label" for="name">EMAIL</label>
                    <input class="inputinsc" type="email" aria-describedby="emailHelp" placeholder="   Email / Pseudo">
                  </div>
                  <div >
                    <label class="label" for="name">MOT DE PASSE</label>
                    <input class="inputinsc" type="password"  placeholder="   Entrer votre mot de passe">
                  </div>
                 
                
                <div class="btn">
                   <button type="submit"  id="bouton"> <a  routerLink="/carousel" style="list-style: none; color: #fff;">S'INSCRIRE</a></button>
                  </div>
                  <p id="stext">Vous avez dejà un compte?<a routerLink="/connexion"  style="color: blue;"> Connectez-Vous</a></p>
              </form>

        </div>
