<section class="about" id="apropos">
    <div class="max-width">
        <h2 class="title">A propos de Nous</h2>
        <div class="about-content">
            <div class="column left">
                <img src="../assets/images/logo-png.png" alt="">
            </div>
            <div class="column right">
                <div class="text">IKABOU<span class="typing-2">TIKI</span></div>
                <p>IKABOUTIKI est une entreprise de vente de vêtement africain tel que 
                    Des Wax , Des jouets , Des Bazins.
                    IKABOUTIKI met en valeur la mode africaine aussi bien sur le plan culturel que sur le plan traditionnel
                </p>
            </div>
        </div>
    </div>
</section>