<header>
   <div class="left-nav">
    <a href="#" class="logo">
        <img src="../assets/images/logo-png.png" width="180px" style="padding: 0; margin: -15px 0px 0px 15px;" alt="">
    </a>
    <ul class="navbar">
        <li><a class="nav-link active" href="#Acceuil">Acceuil</a></li>
        <li><a class="nav-link" href="">Catégories</a></li>
        <li><a class="nav-link" href="#services">Services</a></li>
        <li><a class="nav-link" href="#contact">Contact</a></li>
       
    </ul>
   </div>
   
    <div class="menu-icon">
        <a href="#"><i class='bx bx-bell'>Notification</i></a>  
        <a href="#"><i class='bx bx-chat' >Chat</i></a>  
        <a href=""><i class='bx bx-cart' >Mon panier</i></a>  
        <a href="#"><i class='bx bxs-user-circle'>Se Connecter</i></a>  
    </div>

    
</header>
<section>
    
</section>