
<footer>
    <div class="logo">
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-tiktok"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="nav">
        <ul>
            <li><a routerLink="/acceuil">Accueil</a> </li>
            <li><a routerLink="/categories">Catégories</a> </li>
            <li><a routerLink="/services">Services</a></li>
            <li><a routerLink="/contact">Contact</a></li>
        </ul>
    </div>
    <div class="footer">

    <span> <a href="#">Ikaboutiki</a> | <span class="far fa-copyright"></span> Copyright 2023 Tout droit reservé.</span>
</div>
</footer>