
*{
    margin-top: 22px;
}

P {

    text-align: center;
    margin-bottom: 4%;
}



/* début css panier*/



#bag {

    font-size: 100px;
    position: relative;
    top: 50px;
}

.panier {

    text-align: center;

}

.panier + h1 {

    font-weight: bold;
}

.connexion {

    background-color: #D9D9D9;
    color: black;
    border-radius: 34px;
    padding: 8px;
    position: relative;
    bottom: 45px;
    font-size: 20px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

.connexion:hover {

    background-color: #000;
    color: #D9D9D9;
    border-radius: 34px;
    padding: 8px;
    position: relative;
    bottom: 45px;
    font-size: 20px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

.ajouter {

    background-color: #000;
    color: #fff;
    border-radius: 34px;
    padding: 8px;
    font-size: 20px;
    text-decoration: none;
}

.ajouter:hover {

    background-color: #fff;
    color: #000;
    border-radius: 34px;
    border: 1px solid #000;
    padding: 8px;
    font-size: 20px;
    text-decoration: none;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.8);
}