<section class="contact" id="contact">
     <h2 class="title">Contactez Nous</h2>
    <div class="max-width">
       
        <div class="contact-content">
            <div class="column left">
                
                <p>
                    Pour tous vos besoins, <br>
                    veuillez nous contacter. 
                </p>
                <div class="icons">
                    <div class="row">
                        <i class="fas fa-user"></i>
                        <div class="info">
                            <div class="head">Nom</div>
                            <div class="sub-title">Ikaboutiki</div>
                        </div>
                    </div>
                    <div class="row">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="info">
                            <div class="head">Adresse</div>
                            <div class="sub-title">Bamako, Hamdallay</div>
                        </div>
                    </div>
                    <div class="row">
                        <i class="fas fa-envelope"></i>
                        <div class="info">
                            <div class="head">Email</div>
                            <div class="sub-title">Ikaboutiki@gmail.com</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column right">
                <div class="column-right">
                <div class="text">Envoyez un message</div>
                <form action="#">
                    <div class="fields">
                        <div class="field name">
                            <input type="text" placeholder="Nom" required>
                        </div>
                        <div class="field email">
                            <input type="email" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="Sujet" required>
                    </div>
                    <div class="field textarea">
                        <textarea cols="30" rows="10" placeholder="Message.." required></textarea>
                    </div>
                    <div class="button-area">
                        <button type="submit">Envoyez</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</section>