<div class="categories">
  <h2>Catégo<span style="color: burlywood;">ries</span></h2>
  <div class="card-group">
  <div class="card">
  <img src="../assets/images/homme.png" alt="Homme">
  <div class="card-body">
  <h3>Pour Homme</h3>
  <a href="#">Découvrir</a>
       
  </div>
      
  </div>
  <div class="card">  
  <img src="../assets/images/afrique.jpg" alt="Femme">  
  <div class="card-body">  
  <h3>Pour Femme</h3>   
  <a href="#">Découvrir</a>
  </div> 
  </div>
  <div class="card">
  <img src="../assets/images/enfant.png" alt="Enfant"> 
  <div class="card-body">
  <h3>Pour Enfant</h3>     
  <a href="#">Découvrir</a>
  </div>
  </div>

  <div class="card">
    <img src="../assets/images/jouet.jpg" alt="Jouet"> 
    <div class="card-body">
    <h3>Jouet</h3>     
    <a href="#">Découvrir</a>
    </div>
    </div>
  </div>
  </div>







  <section class="main">
    <div class="cartes">
        <div class="produits">
            <h2>Pour <span style="color: burlywood;">Homme</span></h2>
            <div class="card-group1">
            <div class="card1">
            <img src="../assets/images/tissu1.jpg" alt="">
            <div class="card-body">
            <h3>Tissu en soie</h3>
            <h3>30 000 FCFA</h3>
            <div> <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half" aria-hidden="true"></i></div>
            <a routerLink="/taille">Ajouter Panier</a>
                 
            </div>
                
            </div>
            <div class="card1">  
            <img src="../assets/images/tissu2.jpg" alt="">  
            <div class="card-body">  
                <h3>Tissu en soie</h3>
                <h3>30 000 FCFA</h3>
                <div> <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half" aria-hidden="true"></i></div>
                <a href="#">Ajouter Panier</a>
            </div> 
            </div>
            <div class="card1">
            <img src="../assets/images/tissu3.jpg" alt=""> 
            <div class="card-body">
                <h3>Tissu en soie</h3>
                <h3>30 000 FCFA</h3>
                <div> <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half" aria-hidden="true"></i></div>
                <a href="#">Ajouter Panier</a>
            </div>
            </div>
      
            <div class="card1">
              <img src="../assets/images/tissu5.jpg" alt=""> 
              <div class="card-body">
                <h3>Tissu en soie</h3>
                <h3>30 000 FCFA</h3>
                <div> <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half" aria-hidden="true"></i></div>
                <a href="#">Ajouter Panier</a>
              </div>
              </div>

              <div class="card1">
                <img src="../assets/images/tissu7.jpg" alt=""> 
                <div class="card-body">
                  <h3>Tissu en soie</h3>
                  <h3>30 000 FCFA</h3>
                  <div> <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half" aria-hidden="true"></i></div>
                  <a href="#">Ajouter Panier</a>
                </div>
                </div>

                <div class="card1">
                    <img src="../assets/images/tissu8.jpg" alt=""> 
                    <div class="card-body">
                      <h3>Tissu en soie</h3>
                      <h3>30 000 FCFA</h3>
                      <div> <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half" aria-hidden="true"></i></div>
                      <a href="#">Ajouter Panier</a>
                    </div>
                    </div>

                    <div class="card1">
                        <img src="../assets/images/tissu1.jpg" alt=""> 
                        <div class="card-body">
                          <h3>Tissu en soie</h3>
                          <h3>30 000 FCFA</h3>
                          <div> <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half" aria-hidden="true"></i></div>
                          <a href="#">Ajouter Panier</a>
                        </div>
                        </div>
                        <div class="card1">
                            <img src="tissu8.jpg" alt=""> 
                            <div class="../assets/images/card-body">
                              <h3>Tissu en soie</h3>
                              <h3>30 000 FCFA</h3>
                              <div> <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i></div>
                              <a href="#">Ajouter Panier</a>
                            </div>
                            </div>
                            <div class="card1">
                                <img src="../assets/images/tissu3.jpg" alt=""> 
                                <div class="card-body">
                                  <h3>Tissu en soie</h3>
                                  <h3>30 000 FCFA</h3>
                                  <div> <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half" aria-hidden="true"></i></div>
                                  <a href="#">Ajouter Panier</a>
                                </div>
                                </div>
                                <div class="card1">
                                    <img src="../assets/images/tissu5.jpg" alt=""> 
                                    <div class="card-body">
                                      <h3>Tissu en soie</h3>
                                      <h3>30 000 FCFA</h3>
                                      <div> <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-half" aria-hidden="true"></i></div>
                                      <a href="#">Ajouter Panier</a>
                                    </div>
                                    </div>
                            

            </div>
            </div>
    </div>
</section>

  


<section class="main">
    <div class="cartes">
        <div class="produits">
            <h2>Pour <span style="color: burlywood;">Femme</span></h2>
            <div class="card-group1">
            <div class="card1">
            <img src="../assets/images/wax1.jpg" alt="">
            <div class="card-body">  
            <h3>Wax</h3>
            <h3>30 000FCFA</h3>
            <div> <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half" aria-hidden="true"></i></div>
            <a href="#">Ajouter Panier</a>
                 
            </div>
                
            </div>
            <div class="card1">  
            <img src="../assets/images/wax2.jpg" alt="">  
            <div class="card-body">  
                <h3>Wax Africain</h3>
                <h3>30 000FCFA</h3>
                <div> <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half" aria-hidden="true"></i></div>
                <a href="#">Ajouter Panier</a>
            </div> 
            </div>
            <div class="card1">
            <img src="../assets/images/wax3.jpg" alt=""> 
            <div class="card-body">
                <h3>Wax Africain</h3>
                <h3>30 000FCFA</h3>
                <div> <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half" aria-hidden="true"></i></div>
                <a href="#">Ajouter Panier</a>
            </div>
            </div>
      
            <div class="card1">
              <img src="../assets/images/wax4.jpg" alt=""> 
              <div class="card-body">
                <h3>Wax Africain</h3>
                <h3>30 000FCFA</h3>
                <div> <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half" aria-hidden="true"></i></div>
                <a href="#">Ajouter Panier</a>
              </div>
              </div>

              <div class="card1">
                <img src="../assets/images/wax5.jpg" alt=""> 
                <div class="card-body">
                    <h3>Wax Africain</h3>
                  <h3>30 000FCFA</h3>
                  <div> <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half" aria-hidden="true"></i></div>
                  <a href="#">Ajouter Panier</a>
                </div>
                </div>

                <div class="card1">
                    <img src="../assets/images/wax6.jpg" alt=""> 
                    <div class="card-body">
                        <h3>Wax Africain</h3>
                      <h3>30 000FCFA</h3>
                      <div> <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half" aria-hidden="true"></i></div>
                      <a href="#">Ajouter Panier</a>
                    </div>
                    </div>

                    <div class="card1">
                        <img src="../assets/images/wax7.jpg" alt=""> 
                        <div class="card-body">
                            <h3>Wax Africain</h3>
                          <h3>30 000FCFA</h3>
                          <div> <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half" aria-hidden="true"></i></div>
                          <a href="#">Ajouter Panier</a>
                        </div>
                        </div>
                        <div class="card1">
                            <img src="../assets/images/wax2.jpg" alt=""> 
                            <div class="card-body">
                                <h3>Wax Africain</h3>
                              <h3>30 000FCFA</h3>
                              <div> <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i></div>
                              <a href="#">Ajouter Panier</a>
                            </div>
                            </div>
                            <div class="card1">
                                <img src="../assets/images/wax2.jpg" alt=""> 
                                <div class="card-body">
                                    <h3>Wax Africain</h3>
                                  <h3>30 000FCFA</h3>
                                  <div> <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half" aria-hidden="true"></i></div>
                                  <a href="#">Ajouter Panier</a>
                                </div>
                                </div>
                                <div class="card1">
                                    <img src="../assets/images/wax3.jpg" alt=""> 
                                    <div class="card-body">
                                        <h3>Wax Africain</h3>
                                      <h3>30 000FCFA</h3>
                                      <div> <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-half" aria-hidden="true"></i></div>
                                      <a href="#">Ajouter Panier</a>
                                    </div>
                                    </div>
                            

            </div>
            </div>
    </div>
</section>


<section class="main">
    <div class="cartes">
        <div class="produits">
            <h2>Pour <span style="color: burlywood;">Enfant</span></h2>
            <div class="card-group1">
            <div class="card1">
            <img src="../assets/images/enfant1.jpg" alt="">
            <div class="card-body">  
                <h3>100% cotton</h3>
                <h3>15 000FCFA</h3>
                <div> <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half" aria-hidden="true"></i></div>
            <a href="#">Ajouter Panier</a>
                 
            </div>
                
            </div>
            <div class="card1">  
            <img src="../assets/images/enfant2.png" alt="">  
            <div class="card-body">  
                <h3>100% cotton</h3>
                <h3>15 000FCFA</h3>
                <div> <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half" aria-hidden="true"></i></div>
                <a href="#">Ajouter Panier</a>
            </div> 
            </div>
            <div class="card1">
            <img src="../assets/images/enfant3.png" alt=""> 
            <div class="card-body">
                <h3>100% cotton</h3>
                <h3>15 000FCFA</h3>
                <div> <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half" aria-hidden="true"></i></div>
                <a href="#">Ajouter Panier</a>
            </div>
            </div>
      
            <div class="card1">
              <img src="../assets/images/enfant5.jpg" alt=""> 
              <div class="card-body">
                <h3>100% cotton</h3>
                <h3>15 000FCFA</h3>
                <div> <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half" aria-hidden="true"></i></div>
                <a href="#">Ajouter Panier</a>
              </div>
              </div>

              <div class="card1">
                <img src="../assets/images/enfant55.jpg" alt=""> 
                <div class="card-body">
                    <h3>100% cotton</h3>
                    <h3>15 000FCFA</h3>
                    <div> <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star-half" aria-hidden="true"></i></div>
                  <a href="#">Ajouter Panier</a>
                </div>
                </div>

                <div class="card1">
                    <img src="../assets/images/enfant6.jpg" alt=""> 
                    <div class="card-body">
                        <h3>100% cotton</h3>
                        <h3>15 000FCFA</h3>
                        <div> <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star-half" aria-hidden="true"></i></div>
                      <a href="#">Ajouter Panier</a>
                    </div>
                    </div>

                    <div class="card1">
                        <img src="../assets/images/enfant7.jpg" alt=""> 
                        <div class="card-body">
                            <h3>100% cotton</h3>
                             <h3>15 000FCFA</h3>
                             <div> <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star-half" aria-hidden="true"></i></div>
                          <a href="#">Ajouter Panier</a>
                        </div>
                        </div>
                        <div class="card1">
                            <img src="../assets/images/enfant77.jpg" alt=""> 
                            <div class="card-body">
                                <h3>100% cotton</h3>
                                <h3>15 000FCFA</h3>
                                <div> <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star-half" aria-hidden="true"></i></div>
                              <a href="#">Ajouter Panier</a>
                            </div>
                            </div>
                            <div class="card1">
                                <img src="../assets/images/enfant1.jpg" alt=""> 
                                <div class="card-body">
                                    <h3>100% cotton</h3>
                                    <h3>15 000FCFA</h3>
                                    <div> <i class="fa fa-star" aria-hidden="true"></i>
                                      <i class="fa fa-star" aria-hidden="true"></i>
                                      <i class="fa fa-star" aria-hidden="true"></i>
                                      <i class="fa fa-star" aria-hidden="true"></i>
                                      <i class="fa fa-star-half" aria-hidden="true"></i></div>
                                  <a href="#">Ajouter Panier</a>
                                </div>
                                </div>
                                <div class="card1">
                                    <img src="../assets/images/enfant2.png" alt=""> 
                                    <div class="card-body">
                                        <h3>100% cotton</h3>
                                      <h3>15 000FCFA</h3>
                                      <div> <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-half" aria-hidden="true"></i></div>
                                      <a href="#">Ajouter Panier</a>
                                    </div>
                                    </div>
                            

            </div>
            </div>
    </div>
</section>



<section class="main">
  <div class="cartes">
      <div class="produits">
          <h2>Jou<span style="color: burlywood;">et</span></h2>
          <div class="card-group1">
          <div class="card1">
          <img src="../assets/images/jouet2.jpg" alt="">
          <div class="card-body">  
              <h3>jouet</h3>
              <h3>15 000FCFA</h3>
              <div> <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half" aria-hidden="true"></i></div>
          <a href="#">Ajouter Panier</a>
               
          </div>
              
          </div>
          <div class="card1">  
          <img src="../assets/images/jouet88.jpg" alt="">  
          <div class="card-body">  
              <h3>100% cotton</h3>
              <h3>15 000FCFA</h3>
              <div> <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half" aria-hidden="true"></i></div>
              <a href="#">Ajouter Panier</a>
          </div> 
          </div>
          <div class="card1">
          <img src="../assets/images/jouet7.jpg" alt=""> 
          <div class="card-body">
              <h3>jouet</h3>
              <h3>15 000FCFA</h3>
              <div> <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half" aria-hidden="true"></i></div>
              <a href="#">Ajouter Panier</a>
          </div>
          </div>
    
          <div class="card1">
            <img src="../assets/images/jouet.jpg" alt=""> 
            <div class="card-body">
              <h3>jouet</h3>
              <h3>15 000FCFA</h3>
              <div> <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half" aria-hidden="true"></i></div>
              <a href="#">Ajouter Panier</a>
            </div>
            </div>

            <div class="card1">
              <img src="../assets/images/jouet6.jpg" alt=""> 
              <div class="card-body">
                  <h3>jouet</h3>
                  <h3>15 000FCFA</h3>
                  <div> <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half" aria-hidden="true"></i></div>
                <a href="#">Ajouter Panier</a>
              </div>
              </div>

              <div class="card1">
                  <img src="../assets/images/jouet5.jpg" alt=""> 
                  <div class="card-body">
                      <h3>jouet</h3>
                      <h3>15 000FCFA</h3>
                      <div> <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half" aria-hidden="true"></i></div>
                    <a href="#">Ajouter Panier</a>
                  </div>
                  </div>

                  <div class="card1">
                      <img src="../assets/images/jouet4.jpg" alt=""> 
                      <div class="card-body">
                          <h3>jouet</h3>
                           <h3>15 000FCFA</h3>
                           <div> <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half" aria-hidden="true"></i></div>
                        <a href="#">Ajouter Panier</a>
                      </div>
                      </div>
                      <div class="card1">
                          <img src="../assets/images/jouet3.jpg" alt=""> 
                          <div class="card-body">
                              <h3>jouet</h3>
                              <h3>15 000FCFA</h3>
                              <div> <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i></div>
                            <a href="#">Ajouter Panier</a>
                          </div>
                          </div>
                          <div class="card1">
                              <img src="../assets/images/jouet2.jpg" alt=""> 
                              <div class="card-body">
                                  <h3>jouet</h3>
                                  <h3>15 000FCFA</h3>
                                  <div> <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half" aria-hidden="true"></i></div>
                                <a href="#">Ajouter Panier</a>
                              </div>
                              </div>
                              <div class="card1">
                                  <img src="../assets/images/jouet1.jpg" alt=""> 
                                  <div class="card-body">
                                      <h3>jouet</h3>
                                    <h3>15 000FCFA</h3>
                                    <div> <i class="fa fa-star" aria-hidden="true"></i>
                                      <i class="fa fa-star" aria-hidden="true"></i>
                                      <i class="fa fa-star" aria-hidden="true"></i>
                                      <i class="fa fa-star" aria-hidden="true"></i>
                                      <i class="fa fa-star-half" aria-hidden="true"></i></div>
                                    <a href="#">Ajouter Panier</a>
                                  </div>
                                  </div>
                          

          </div>
          </div>
  </div>
</section>