


<header>
    <div class="left-nav">
     <a href="#" class="logo">
         <img src="../assets/images/logo-png.png" width="180px" style="padding: 0; margin: -15px 0px 0px 15px;" alt="">
     </a>
     <ul class="navbar">
         <li><a class="nav-link" routerLinkActive="active" routerLink="/carousel">Accueil</a></li>
         <li><a class="nav-link" routerLinkActive="active" routerLink="/categories">Catégories</a></li>
         <li><a class="nav-link" routerLinkActive="active" routerLink="/services">Services</a></li>
         <li><a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a></li>
        
     </ul>
    </div>
    
     <div class="menu-icon">
         <a routerLinkActive="active" routerLink="/notification"><i class='bx bx-bell'>Notification</i></a>   
         <a routerLinkActive="active" routerLink="/panier"><i class='bx bx-cart' >Mon panier</i></a>  
         <a routerLinkActive="active" routerLink="/connexion"><i class='bx bxs-user-circle'>Se Connecter</i></a>  
     </div>
 
     
 </header>
 <router-outlet></router-outlet>
 <app-footer></app-footer>
 
<!-- <app-carousel></app-carousel>
<app-categories></app-categories> -->
<!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> -->
