<section class="body">
<div class="container-service">
    <div class="bloc-livraison">
        <p><i class="fa-solid fa-car" id="car" style="color: #000000;"></i></p>
        <p>Livraison possible, rapide, <br>
             et éfficace dans toutes les <br>
              sous régions. <BR>Possibilité d'être livrer à temps voulu</p>
    </div>
    <div class="bloc-qualite">
        <p><img src="../assets/images/calendar.png" id="calendar" alt="calendar"></p>
        <p>Qualité de nos produits.
            Nos produits sont d'une fiabilité accrue et certifié
            Sans avoir à se soucier des allergie en soie
        </p>
    </div>
    <div class="bloc-garantit">
        <p><i class="fa-sharp fa-solid fa-qrcode" id="qrcode" style="color: #000000;"></i></p>
        <p>La garantit de nos produits.
            Nos produits sont d'une fiabilité accrue et certifié
            Sans avoir à se soucier des allergie en soie
        </p>
    </div>
    </div>
</section>